body {
  margin: 0;
  height: 100%;
}

.problems {
  font-size: 5rem; /* 글꼴 크기 크게 설정 */
  list-style: none; /* 리스트 스타일 제거 */
  padding: 0;
  margin: 0;
}

.navbar {
  height: 50px; /* 네비게이션 바 높이 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px); /* 네비게이션 바 높이를 뺀 높이 */
}

.content {
  flex: 1; /* 50% 높이 */
  padding: 0.8em;
  padding-left: 2em;
  display: flex;
  height: 50%; /* 부모 컨테이너의 50% 높이 */
  align-items: center;
}

/* 넘패드 전체 영역 */
.numpad-container {
  flex: 1; /* 50% 높이 */
  width: 100%;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
  position: relative; /* fixed 대신 relative 사용 */
  bottom: 0;
  height: 50%; /* 부모 컨테이너의 50% 높이 */
}

/* Ensure the numpad buttons are responsive */
.numpad-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  height: 100%;
}

/* General Button Styles */
.numpad-btn {
  width: 100%;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.numpad-btn:active {
  background-color: #bbb;
  transition: background-color 0.1s ease; /* Faster transition for active state */
}

/* Specific Button Styles */
.numpad-clear {
  background-color: #d32f2f;
  grid-column: span 2;
}

.numpad-delete {
  background-color: #f9a825;
}

/* Add transition for list item active state */
.list-group-item {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.list-group-item.active {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Media query for smaller screens */
@media (max-width: 450px) {
  .numpad-btn {
    padding: 15px;
    font-size: 1.2rem;
  }

  .content h1 {
    font-size: 2rem;
  }

  .list-group-item {
    font-size: 1rem;
  }
}

.correct {
  background-color: rgb(60, 134, 16);
}

/* .incorrect {
} */